# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Django
*.log
media/
staticfiles/

# IDE / editor
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# OS files
.DS_Store
Thumbs.db
